<label>E-Mail:</label>
    <input type="text" id="email" name="email" />
    <br />
    <label>Password:</label>
    <input type="password" id="pass" name="password" minlength="8" required />
    <br />