<form>
    <label>E-Mail:</label>
    <input type="text" id="email" name="email" />
    <br />
    <label>Password (8 characters minimum):</label>
    <input type="password" id="pass" name="password" minlength="8" required />
    <br />
    
    <input type="submit" value="Sign Up" />
</form>
