<div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      {{> emailPassword}}
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>

<script src="./js/login.js"></script>
