<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sign Up | Playcare</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <h1>Playcare Sign Up</h1>
        {{{body}}}
    </body>
</html>