<h2>List of favorite kids</h2>
{{> favoriteChildren}}

<h2>List of hated kids</h2>
{{> hatedChildren}}

<!-- 
<h2>Who is good today?</h2>
{{#if listExists}}
<ul>
    {{#each goodNoodle}}
    <li class={{this.class}}>{{this.name}}</li>
    {{/each}}
</ul>
{{/if}}
!-->
