<h1>Welcome to Playcare!</h1>

<p>Protecting our children became our priority when it comes with saftey while maintaining the factor of fun. We open on 
weekdays, and weekends by appointments to be as flexable to provide parents the opportunity to drop their child off for
any reasons. </p>

<h2>Have an account?</h2>
<form>
    <label>E-Mail</label>
    <input type="text" id="username" name="username" />
    <br />
    <br />
    <label>Password</label>
    <input type="password" id="pass" name="password" minlength="8" required />
</form>

<!-- 
<h2>Who is good today?</h2>
{{#if listExists}}
<ul>
    {{#each goodNoodle}}
    <li class={{this.class}}>{{this.name}}</li>
    {{/each}}
</ul>
{{/if}}
!-->
