<form>
    <label>E-Mail:</label>
    <input type="text" id="email" name="email" />
    <br />
    <label>Password (8 characters minimum):</label>
    <input type="password" id="pass" name="password" minlength="8" required />
    <br />
    <label>Verify Password:</label>
    <input type="password" id="verifyPass" name="verifyPassword" minlength="8" required />
    <br />
    <br />
    <label>First Name:</label>
    <input type="string" id = "namefirst" name="first" />
    <label>Last Name:</label>
    <input type="string" id = "namelast" name="last" />
    <br />
    <input type="submit" value="Sign Up" />
</form>